@model HospitalAppointmentSystem.Models.Doktor

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Doktor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BolumId" class="control-label"></label>
                <select asp-for="BolumId" class ="form-control" asp-items="ViewBag.BolumId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PoliklinikId" class="control-label"></label>
                <select asp-for="PoliklinikId" class ="form-control" asp-items="ViewBag.PoliklinikId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DoktorAdi" class="control-label"></label>
                <input asp-for="DoktorAdi" class="form-control" />
                <span asp-validation-for="DoktorAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefon" class="control-label"></label>
                <input asp-for="Telefon" class="form-control" />
                <span asp-validation-for="Telefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
