@model HospitalAppointmentSystem.Models.RandevuKayit

@{
    ViewData["Title"] = "Create";
}
<script src="~/js/randevu.js"></script>

<h1>Create Appointment</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="PoliklinikId" class="control-label">Select Polyclinic:</label>
                <select asp-for="PoliklinikId" class="form-control" asp-items="@(ViewBag.Poliklinikler as SelectList)"></select>
                <span asp-validation-for="PoliklinikId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DoktorId" class="control-label">Select Doctor:</label>
                <select asp-for="DoktorId" class="form-control" asp-items="ViewBag.Doktorlar"></select>
                <span asp-validation-for="DoktorId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CalismaGunID" class="control-label">Select Working Day:</label>
                <select asp-for="CalismaGunID" class="form-control" asp-items="ViewBag.CalismaGunAdi"></select>
                <span asp-validation-for="CalismaGunID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SaatDilimi" class="control-label">Select Time Slot:</label>
                <select asp-for="SaatDilimi" class="form-control" asp-items="ViewBag.SaatDilimi"></select>
                <span asp-validation-for="SaatDilimi" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Aciklama" class="control-label">Appointment Description:</label>
                <input asp-for="Aciklama" class="form-control" />
                <span asp-validation-for="Aciklama" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create Appointment" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
