@model HospitalAppointmentSystem.Models.Poliklinik

@{
    ViewData["Title"] = "Sil";
}

<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-danger text-white">
            <h1>Sil</h1>
        </div>
        <div class="card-body">
            <h3 class="text-danger">Emin misiniz ki bunu silmek istiyorsunuz?</h3>
            <div>
                <h4>Poliklinik</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Adi)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Adi)
                    </dd>
                </dl>

                <form asp-action="Delete" method="post">
                    <input type="hidden" asp-for="PoliklinikId" />
                    <button type="submit" class="btn btn-danger">Sil</button> |
                    <a asp-action="Index" class="btn btn-secondary">Listeye Geri Dön</a>
                </form>
            </div>
        </div>
    </div>
</div>
