@{
    ViewData["Title"] = "Hastane Sistemi";
}

<div class="container text-center mt-5">
    <h1 class="display-4">Hoş Geldiniz!</h1>
    <p class="lead">Hastane Sistemine hoş geldiniz. Sağlık hizmetlerimize ulaşmak için lütfen giriş yapın.</p>
    <p class="lead">Hastane randevularınızı online olarak planlayabilir ve yönetebilirsiniz.</p>
    @if (!User.Identity.IsAuthenticated)
    {
        <a class="btn btn-primary btn-lg" href="@Url.Action("GirisYap", "Uye")" role="button">Giriş Yap</a>
    }

   

</div>
