 
 @model HospitalAppointmentSystem.Models.KullaniciKaydi
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <style>
        body {
            background: url('https://static-communitytable.parade.com/wp-content/uploads/2014/03/rethink-target-heart-rate-number-ftr.jpg') fixed;
            background-size: cover;
        }

        *[role="form"] {
            max-width: 530px;
            padding: 15px;
            margin: 0 auto;
            border-radius: 0.3em;
            background-color: #f2f2f2;
        }

            *[role="form"] h2 {
                font-family: 'Open Sans', sans-serif;
                font-size: 40px;
                font-weight: 600;
                color: #000000;
                margin-top: 5%;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 4px;
            }
    </style>
</head>
<body>
    <div class="container">
        <form id="registrationForm" class="form-horizontal" role="form" action="/KayitOl/Index" method="post">
            <h2>Kayıt Ol</h2>
            <div class="form-group">
                <label for="firstName" class="col-sm-3 control-label">Ad</label>
                <div class="col-sm-9">
                    <input type="text" id="firstName" name="Adi" placeholder="Ad" class="form-control" autofocus>
                </div>
            </div>
            <div class="form-group">
                <label for="lastName" class="col-sm-3 control-label">Soyad</label>
                <div class="col-sm-9">
                    <input type="text" id="lastName" name="Soyadi" placeholder="Soyad" class="form-control" autofocus>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-3 control-label">E-posta* </label>
                <div class="col-sm-9">
                    <input type="email" id="email" name="Email" placeholder="E-posta" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-3 control-label">Şifre*</label>
                <div class="col-sm-9">
                    <input type="password" id="password" name="Sifre" placeholder="Şifre" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <label for="passwordConfirm" class="col-sm-3 control-label">Şifre Onayla*</label>
                <div class="col-sm-9">
                    <input type="password" id="passwordConfirm" name="SifreOnayla" placeholder="Şifre Onayla" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <label for="birthDate" class="col-sm-3 control-label">Doğum Tarihi*</label>
                <div class="col-sm-9">
                    <input type="date" id="birthDate" name="DogumTarihi" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <label for="phoneNumber" class="col-sm-3 control-label">Telefon Numarası </label>
                <div class="col-sm-9">
                    <input type="tel" id="phoneNumber" name="TelefonNumarasi" placeholder="Telefon Numarası" class="form-control">
                    <span class="help-block">Telefon numaranız başka bir yerde paylaşılmayacaktır</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Cinsiyet</label>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="radio-inline">
                                <input type="radio" id="femaleRadio" name="Cinsiyet" value="Female">Kadın
                            </label>
                        </div>
                        <div class="col-sm-4">
                            <label class="radio-inline">
                                <input type="radio" id="maleRadio" name="Cinsiyet" value="Male">Erkek
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <span class="help-block">*Zorunlu alanlar</span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Kayıt Ol</button>
            <a class="btn btn-danger" asp-controller="Uye" asp-action="GirisYap">Giris Yap</a>
        </form>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#registrationForm').validate({
                rules: {
                    Adi: {
                        required: true
                    },
                    Soyadi: {
                        required: true
                    },
                    Email: {
                        required: true,
                        email: true
                    },
                    Sifre: {
                        required: true
                    },
                    SifreOnayla: {
                        required: true,
                        equalTo: "#password"
                    },
                    DogumTarihi: {
                        required: true
                    },
                    TelefonNumarasi: {
                        number: true
                    }
                },
                messages: {
                    Adi: "Lütfen adınızı girin",
                    Soyadi: "Lütfen soyadınızı girin",
                    Email: {
                        required: 'Lütfen e-posta adresinizi girin',
                        email: 'Lütfen geçerli bir e-posta adresi girin'
                    },
                    Sifre: "Lütfen şifrenizi girin",
                    SifreOnayla: {
                        required: "Lütfen şifrenizi tekrar girin",
                        equalTo: "Şifreler eşleşmiyor"
                    },
                    DogumTarihi: "Lütfen doğum tarihinizi girin",
                    TelefonNumarasi: "Lütfen geçerli bir telefon numarası girin"
                },
                errorElement: "span",
                errorPlacement: function (error, element) {
                    error.addClass("invalid-feedback");
                    element.closest(".form-group").append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass("is-invalid");
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass("is-invalid");
                }
            });
        });
    </script>


    
</body>
</html>